!!!
.container
  .photo-grid
    %ul.list
      %li.card
        %img{ 'src' => 'http://dummyimage.com/250x250/fff/ffd900.png'}
      %li.card
        %img{ 'src' => 'http://dummyimage.com/250x250/fff/ffd900.png'}
